<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <!-- <script src="static/js/Chart.js"></script> -->
    <!-- <script src="static/js/chart.min.js"></script> -->
    <script src="static/js/chart.umd.min.js"></script>
    <script defer src="static/js/index.js"></script>

    <title>Dashboard - TUSK</title>
</head>

<body>
    <nav class="navbar">
        <div class="log-name">
            <div class="logo-img">
                <img src="../static/img/Logo_Tusk.png" alt="Logo_Tusk" srcset="">
            </div>
        </div>
        <!-- <div class="menu">meu</div> -->
    </nav>

    <div class="main">
        <div class="container">
            <div class="both">
                <div class="main-graph">
                    <div class="canvas-container">
                        <canvas id="my" role="img">
                        </canvas>
                    </div>
                </div>
            </div>

            <div class="batt">
                bn
            </div>

            <div class="grid-graph">

                <div class="main-graph">
                    <div class="canvas-container">
                        <canvas id="my2" role="img">
                        </canvas>
                    </div>
                </div>

                <div class="main-graph">
                    <div class="canvas-container">
                        <canvas id="my3" role="img">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>